@import "../App/Variables.scss";

.todo-item {
  border-bottom: 1px solid $color-grey-100;
  min-height: 100px;
  padding-bottom: 0px;

  &-article {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;

    .todo-item-title {
      position: relative;
      font-weight: 600;
      width: 400px;
    }

    .todo-item-done {
      background-image: url("../../assets/icons/foursquare-check.svg");
      background-position: center center;
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
    }

    .completed {
      background-image: url("../../assets/icons/foursquare-check-in.svg");
    }

    .todo-item-date {
      background-image: url("../../assets/icons/calendar.svg");
      background-position: left center;
      background-repeat: no-repeat;
      font-size: 1.4rem;
      line-height: 10rem;
      padding-left: 20px;
      padding-top: 3px;
      width: auto;
    }

    .todo-item-date.done,
    .todo-item-title.done,
    .todo-item-priority.done,
    .todo-item-work-time.done,
    .todo-item-note.done,
    .todo-item-author.done,
    .todo-item-comment.done {
      filter: blur(10px);
      cursor: not-allowed;
    }

    .todo-item-work-time {
      background-color: $color-grey-100;
      border: solid 1px lighten($color-grey-500, 35%);
      border-radius: 3px;
      cursor: pointer;
      color: $color-primary;
      font-size: 3rem;
      height: 70px;
      line-height: 100%;
      position: relative;
      padding: 20px;
      text-transform: none;
      width: 300px;

      span {
        top: -30px;
        font-size: 1.2rem;
        position: absolute;
        right: 0;
      }
    }

    .todo-item-note {
      background-color: $color-grey-50;
      margin-top: 20px;
      padding: 20px 10px;
      width: 100%;
    }
  }
}

.todo-item-actions {
  display: flex;
  justify-content: flex-end;
  height: 100%;

  .btn {
    background-image: url("../../assets/icons/bin.svg");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;

    &-complete {
      background: url("../../assets/icons/tick.svg"), $color-green;
      background-position: center center;
      background-repeat: no-repeat;
    }

    &-edit {
      background: url("../../assets/icons/edit.svg"), $color-orange;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}
