@import "../App/Variables.scss";

.todo-list {
  display: flex;
  flex-direction: column;
}

.todo-list-wrapper {
  padding: 0 20px;
}

.todo-list-title {
  background-color: $color-secondary;
  color: $color-background;
  font-size: 2rem;
  font-weight: 600;
  height: 70px;
  line-height: 7rem;
  margin-top: 50px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
