@import-normalize;
@import "./Variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-background;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul li {
  list-style: none;
}

ul.todo-list {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

img {
  height: auto;
  width: 375px;
}

img.avatar {
  border-radius: 50%;
  height: auto;
  margin-left: 10px;
  width: 60px;
}

main {
  display: flex;
}

div.project-titles {
  padding: 20px;

  h2 {
    margin-bottom: 20px;
  }
}

div.form-container {
  width: 100%;
}

form {
  padding: 40px 20px;
  width: 100%;

  h2 {
    font-weight: 400;
    margin-bottom: 20px;
  }
}

input.todo-input {
  border: 0;
  background-color: $color-grey-100;
  display: block;
  font-size: 1.6rem;
  height: 70px;
  margin-bottom: 20px;
  outline: none;
  padding-left: 20px;
  width: 70%;
}

.todo-item {
  min-height: 100px;
  padding: 5px;

  article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h4 {
      line-height: 100px;
      font-weight: 600;
    }

    span {
      background-image: url("../../assets/icons/foursquare-check-in.svg");
      background-position: center center;
      background-repeat: no-repeat;
      width: 120px;
      height: 100px;
    }

    p {
      border-top: 1px solid $color-grey-100;
      padding: 10px 0;
    }

    div {
      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .complete {
          background: url("../../assets/icons/tick.svg"), $color-green;
          background-position: center center;
          background-repeat: no-repeat;
        }

        .delete {
          background-image: url("../../assets/icons/bin.svg");
          background-position: center center;
          background-repeat: no-repeat;
        }
      }

      img {
        height: 100%;
        float: left;
        width: auto;
        margin-right: 5px;
      }
    }
  }
}

input.todo-input:focus {
  border-bottom: 1px solid $color-grey-500;
}

.todo-filter-wrapper {
  display: flex;
  justify-content: space-between;
}

.todo-radio {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 50px;

  .radio {
    margin-right: 60px;
  }

  input {
    margin-right: 15px;
  }

  h2 {
    font-weight: 800;
    width: 100%;
  }
}
.todo-wrapper {
  padding: 0 20px;
}

.todo-wrapper h3 {
  background-color: $color-secondary;
  color: $color-background;
  font-size: 2rem;
  font-weight: 600;
  height: 70px;
  line-height: 7rem;
  margin-top: 50px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

textarea {
  border: 0;
  background-color: $color-grey-100;
  display: block;
  font-size: 1.6rem;
  margin-bottom: 20px;
  min-height: 200px;
  outline: none;
  padding: 20px;
  width: 100%;
}

textarea:focus {
  border-bottom: 1px solid $color-grey-500;
}

button {
  border: none;
  background-color: $color-secondary;
  color: $color-background;
  font-size: 2rem;
  float: right;
  height: 50px;
  padding: 0 40px;
  text-transform: uppercase;
}

select {
  appearance: none;
  background-color: $color-grey-100;
  border: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  color: $color-primary;
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  height: 70px;
  line-height: 1.3;
  max-width: 30%;
  padding: 15px 40px;
  width: 100%;
  margin: 0;
  margin-left: 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select:focus {
  border: none;
  box-shadow: 0 0 0 1px rgba(33, 115, 221, 0.35);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

/* Disabled styles */
select:disabled,
select[aria-disabled="true"] {
  color: graytext;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

select:disabled:hover,
select[aria-disabled="true"] {
  border-color: #aaa;
}
