@import-normalize;
@import "./Variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-background;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  scrollbar-width: thin;
  scrollbar-color: $color-background transparent;
}

.App {
  display: grid;
  grid-template-columns: 100px 1fr 400px;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "header header header header"
    "menu aside aside intro"
    "menu content content intro"
    "menu content content intro";
  position: relative;
  gap: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul li {
  list-style: none;
}

img {
  height: auto;
  width: 375px;
}

img.responsive {
  height: 100px;
  width: auto;
}

main {
  background-color: $color-background;
  display: flex;
  grid-area: content;
}

h2.info {
  margin-top: 50px;
  padding-left: 20px;
}

button {
  border: none;
  background-color: $color-secondary;
  color: $color-background;
  cursor: pointer;
  font-size: 2rem;
  float: right;
  height: 50px;
  outline: none;
  padding: 0 40px;
  text-transform: uppercase;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

button.active {
  background-color: darken($color-grey-100, 10);
}

button.mr-10 {
  margin-right: 10px;
}

body::-webkit-scrollbar {
  width: 7px;
}

body:-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: $color-secondary;
  border: transparent;
}
