// ---- COLORS ---- //

$color-primary: #353741;
$color-secondary: #4c74f8;

$color-background: #f0f0f0;
$color-white: #ffffff;
$color-green: #24c770;
$color-yellow: #d2d820;
$color-violet: #e11bda;
$color-red: #ff3e6a;
$color-orange: #ffac3e;
$color-orange-dark: #ec7a17;

$color-grey-50: #f6f9fe;
$color-grey-100: #e2e4eb;
$color-grey-500: #737685;
